<a href="https://colab.research.google.com/github/AffanHashmi4/My-First-Repository/blob/main/Pascal_Triangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Printing the Pascal Triangle in Python.

In [ ]:
num_of_rows = int(input("Enter the number of rows : "))
for x in range(0, num_of_rows):
    num = 1
    for y in range(1, num_of_rows - x):
        print(" ", end = "")
    
    for z in range(0, x + 1):
        print(" ", num, end = "")
        num = int(num * (x - z) / (z + 1))
    print()

Enter the number of rows : 8
         1
        1  1
       1  2  1
      1  3  3  1
     1  4  6  4  1
    1  5  10  10  5  1
   1  6  15  20  15  6  1
  1  7  21  35  35  21  7  1