In [1]:
#A database is generally used for storing related, structured data, with well defined data formats, in an efficient manner for insert, update and/or retrieval (depending on application). On the other hand, a file system is a more unstructured data store for storing arbitrary, probably unrelated data.

In [3]:
import pandas as pd
import sqlite3 as sq

In [4]:
query = """CREATE TABLE test(a VARCHAR(20), b VARCHAR(20),c REAL, d INTEGER);"""

In [5]:
con = sq.connect('My_Data.sqlite')

In [6]:
con.execute(query)

In [7]:
con.commit()

In [8]:
con = sq.connect('My_Data.sqlite')

In [9]:
data = [('Atlanta', 'Georgia', 1.25, 6),('Tallahassee', 'Florida', 2.6, 3),('Sacramento', 'California', 1.7, 5)]

In [10]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [11]:
con.executemany(stmt, data)

In [12]:
con.commit()

In [13]:
cursor = con.execute('select * from test')

In [15]:
all_data = cursor.fetchall()

In [16]:
all_data

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [19]:
data1 = pd.DataFrame(all_data)

In [20]:
data1

             0           1     2  3
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5